doctype html
html
	head
		meta(charset='utf-8')
		title User utterance and response viewer
		style table, th, td {border: 1px solid black;}
		script.
			function setIntentionListByDomain() {
				var domain = document.getElementById("selectedDomain").value;
				var intentionList = [];
				for (var i = 0; i < wholeList.length; i++) {
				
				}
			}
	body
		h1 Chatbot Simulator
		div
			ul
				each domain in domList
					li
						a(href='/mode/#{domain}')= domain